<?xml version="1.0" encoding="utf-8"?><!--
  ~ Open Trivia QuizApp is a Udacity EU-Scholarship Project
  ~ written by Thorsten Itter, Copyright (c) 2017.
  ~ This Software may be used solely for non-profit educational purposes
  ~ unless specified otherwise by the original author Thorsten Itter
  ~ Questions and answers provided by Open Trivia Database
  ~ through a free for commercial use API maintained by PIXELTAIL GAME
  ~ This source code including this header may not be modified
  ~
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.example.com.quizapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuizActivity"
            android:label="@string/label_QuizActivity"
            android:parentActivityName=".StartActivity">
            <meta-data
                android:name="baseUrl"
                android:value="https://www.opentdb.com/" />
        </activity>
        <activity
            android:name=".ResultsActivity"
            android:label="@string/label_ResultsActivity"
            android:parentActivityName=".StartActivity" />
        <activity
            android:name=".CategorySelectionActivity"
            android:label="@string/label_CategorySelectionActivity"
            android:parentActivityName=".OptionsActivity" />
        <activity
            android:name=".OptionsActivity"
            android:label="@string/label_OptionsActivity"
            android:parentActivityName=".StartActivity" />
        <activity
            android:name=".UdacityQuizRequirementsActivity"
            android:label="@string/extra_activity_label"
            android:parentActivityName=".StartActivity"></activity>
    </application>

</manifest>